#about {
    padding: 150px 6.5% 0px 6.5%;
    background: #fbfdff;
    #about-inner {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: row;
        padding-bottom: 150px;
        .about-left {
            width: 55%;
            background-color: #ececec;
            position: relative;
            z-index: 2;
            padding-left: 1rem;
            &::after {
                content: "";
                position: absolute;
                top: 1.5rem;
                right: 0;
                width: 80%;
                height: 33rem;
                background-color: #f8f9fa;
                z-index: -1;
            }
            .about-bg {
                position: absolute;
                bottom: 3rem;
                left: -1.3rem;
                width: 9rem;
                height: 17rem;
                background-size: cover;
                background-position: center;
                background-image: url(@/assets/front/img/bt01.jpg);
                opacity: 0.6;
                h2 {
                    font-size: 2rem;
                    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
                        Verdana, sans-serif;
                }
            }
            .about-title {
                margin-left: 2rem;
                color: #212529;
                text-shadow: 2px 5px #dee2e6;
                h2 {
                    padding-bottom: 1.5rem;
                    padding-top: 1rem;
                }
                p {
                    z-index: 2;
                    font-size: 1.5rem;
                    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
                        Verdana, sans-serif;
                    padding-left: 5rem;
                    padding-bottom: 1.2rem;
                    &:nth-child(3) {
                        padding-left: 7rem;
                    }
                    &:nth-child(4) {
                        padding-left: 8rem;
                    }
                }
            }

            .about-box {
                font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
                    Verdana, sans-serif;
                margin-top: 0.5rem;
                padding-left: 9rem;
                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    padding-top: 1rem;
                    padding-right: 3rem;
                }
            }
        }
        .about-right {
            position: relative;
            z-index: -3;
            width: 45%;
            padding-bottom: 9rem;
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 1.5rem;
                width: 16.5rem;
                height: 33rem;
                background-color: #f8f9fa;
                z-index: -1;
            }
            .ma_img {
                position: relative;
                margin-top: 3rem;
                width: 15rem;
                height: 30rem;
                background-position: center;
                background-image: url(@/assets/front/img/ma01.jpg);
                background-size: cover;
                z-index: 0;
                transform: translateY(0px);
            }
            .bt_img {
                position: absolute;
                top: 0;
                width: 20rem;
                height: 100%;
                left: 4rem;
                background-color: #ececec;
                z-index: -1;
            }
            .la_img {
                position: absolute;
                background-image: url(@/assets/front/img/la04.jpg);
                z-index: -1;
                right: 5rem;
                bottom: 3.5rem;
                width: 50%;
                height: 50%;
                background-position: right;
                background-size: cover;
                transition: all 3s;
            }
        }
    }
}

/* about rwd */

@include pad {
    #about {
        padding: 60px 0 0px 0;
        #about-inner {
            display: block;
        }
    }
    .about-box {
        padding-left: 2rem;
        p {
            font-size: 1.1rem;
            line-height: 1.4rem;
            padding-right: 1.2rem;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    .about-title {
        p {
            z-index: 2;
            font-size: 1.2rem;
            padding-left: 3rem;
            padding-bottom: 0.5rem;
            &:nth-child(3) {
                padding-left: 8rem;
            }
            :nth-child(4) {
                padding-left: 10rem;
            }
        }
        h2 {
            padding-bottom: 1rem;
            padding-top: 1rem;
        }
    }

    .about-left {
        width: 60%;
        padding-left: 1rem;
        &::after {
            content: "";
            position: absolute;
            top: 1.5rem;
            right: 0;
            width: 95%;
            height: 33rem;
            background-color: #f8f9fa;
            z-index: -1;
        }
        .about-bg {
            bottom: 0;
            left: 0;
            background-position: right;
            background-image: url(@/assets/front/img/la04.jpg);
            opacity: 0.3;
            filter: grayscale(1);
        }
    }
    .about-right {
        width: 40%;
        padding-bottom: 9rem;
        background-color: #ececec;
        .la_img {
            display: none;
        }
        .bt_img {
            position: absolute;
            top: 0;
            width: 0;
            height: 100%;
            right: 0;
        }
    }
}
@include mobile {
    .about-left {
        &::after {
            content: "";
            left: 0;
            width: 100%;
        }
        .about-bg {
            display: none;
        }
        .about-box {
            padding-left: 0;
            padding-bottom: 1rem;
            p {
                font-size: 1.1rem;
                line-height: 1.4rem;
                padding-right: 1.2rem;
                padding-bottom: 1rem;
                font-weight: 600;
                font-family: "Fira Sans", sans-serif;
            }
        }
    }

    .about-right {
        &::after {
            content: "";
            display: none;
        }
        .ma_img {
            margin-top: 0;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                background-image: url(@/assets/front/img/la04.jpg);
                /* filter: grayscale(1); */
                z-index: -1;
                /* z-index: 1; */

                right: -5rem;
                bottom: -5rem;
                width: 50%;
                height: 50%;
                background-position: right;
                background-size: cover;
            }
        }
    }
}

