/* .navbar */
.navbar{
    // display: inline-flex;
    // padding-right: 2rem;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;

  }

  .navbar ul li{
    //   padding: 0  1rem  2rem 1rem ;
    //   list-style: none;

  }

  .navbar ul li a{
    
    //   list-style: none;
    //   color: rgb(92, 91, 88);
    //   text-decoration:none;
  }
  .navbar ul li a:hover{
    //   color: rgb(5, 5, 5);
  }